#searchBar {
  width: 200px;
  height: 30px;
  background-color: #3F4347;
  border: none;
  border-radius: 3px;
  font-size: 0.75rem;
  text-indent: 10px;
  color: white;
}

#searchBar::placeholder {
  color: #8D8F92;
}
